@import "tailwindcss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {
  :root {
    --background: white;
    --foreground: black;
    --border: #C9C0BB;
    --bg: white;
    --text: black;
  }

  [data-theme="dark"] {
    --background: #000000; 
    --foreground: white;
    --border: #10100f;
    --bg: rgba(0, 0, 0, 8);
    --text: white;
  }
}
::-webkit-scrollbar {
  width: 0;
}
.card-border {
  border: 1px solid var(--border);
}

.create-input{
  border: 1px solid var(--border);
  background-color: var(--bg);
  color: var(--text);
}


main{
  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
